.image{
  width: 200px;
}

.playerNumber{
  background: rgb(215,21,21);
 background: linear-gradient(to right, rgba(200,21,21,0.9) 0%, rgba(255,0,16,1) 100%);
 box-shadow: 5px 6px 10px #555;
 color: white;
 padding: 10px;
 border-radius: 30px;
 width: 40px;
 text-align: center;
font-weight: bold;
}
